@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url(https://tailwindui.com/plus/img/beams-home@95.jpg);
  
}

svg{
  width: 20px;
  height: 20px;
  margin: 5px 0px 5px 5px;
}